:root {
    --primary-color: #5fbaa7;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f3f1f5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%235fbaa7' fill-opacity='0.38' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 2em;
    font-size: 1rem;
}

h1 {
    color: var(--primary-color);
    font-size: 3.5rem;
    margin-bottom: 0;
}

p {
    text-align: center;
    font-size: 1.5rem;
}

.container {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 50px #ccc;
    padding: 2em;
}

.btn {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 12px;
}

.money-img {
    width: 10em;
}

.currency {
    padding: 2.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    padding: 10px 20px 10px 10px;
    border: 2px solid lightgreen;
    border-radius: 10px;
    font-size: 1.5rem;
    appearance: none;
    background: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-position: right 10px top 50%, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
}

.currency input {
    border: 1px solid lightgray;
    background-color: transparent;
    font-size: 1.875rem;
    border-radius: 5px;
    text-align: right;
    width: 10em;
    height: 1.5em;
}  

.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    color: var(--primary-color);
    font-size: 1.5rem;
    padding: 0 14px;
}

select:focus,
input:focus,
button:focus {
    outline: 0;
}

@media(max-width: 600px) {
    .currency input {
        width: 200px;
    }
}